<!DOCTYPE html>
<html lang="en">
<head>
  <title>NAME IN Tab</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<style>
  body {
<!-- background: url('https://i.ytimg.com/vi/if-2M3K1tqk/maxresdefault.jpg'); /*no-repeat fixed center; -->*/

}
</style>


<body>
 <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-static-top">
       <a class="navbar-brand">
<span style="font-size: 100%;">Stonks Pumper v0.1</span>
      </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class='active-page' href="/greaterthan">Greater Than</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" class='active-page' href="/lessthan">Less Than</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class='active-page' href="/margin">Margin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class='active-page' href="/topreturns">Top Returns</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class='active-page' href="/bottomreturns">Bottom Returns</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" class='active-page' href="/sharpe">Annualized Sharpe Ratio</a>
    </li>
  </ul>
</nav>
<br>

<div class="container-fluid" >

  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      How it works
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Enter your Stonks to see how they did.

      Then mortgage your house and YOLO call options
    </div>
  </div>

<h2 class="response banner" style="color:white">Enter your Stonks here:</h2>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Symbol</span>
  </div>
  <input type="text" class="form-control">

</div>

<button id="submit" type="button" class="btn btn-primary">Find Stonks</button>

<div class="dropdown">
  <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Method
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/greaterthan">Greater Than</a>
    <a class="dropdown-item" href="/lessthan">Less Than</a>
    <a class="dropdown-item" href="/margin">Margin</a>
    <a class="dropdown-item" href="/topreturns">Top Returns</a>
    <a class="dropdown-item" href="/bottomreturns">Bottom Returns</a>
    <!-- Add more urls. href is the name of the page. -->
  </div>
</div>
<br>





</div>

</body>
</html>